{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
logined
{% else %}
<div class="col-md-6 offset-md-3">
	<h1>Login</h1>
	<br>
	<form action="{% url 'home' %}" method="post">
		{% csrf_token %}
		<div class="mb-3">
			<input type="text" class="form-control" name="username" placeholder='Login' required>
		  </div>
		  <div class="mb-3">
			<input type="password" class="form-control" name="password" placeholder='Password' required>
		  </div>
		  <button type="submit" class="btn btn-secondary">Login</button>		
	</form>
</div>
{% endif %}


{% endblock content %}
